@import '../../../minix.scss';
.heroBanner {
    width: 100%;
    height: 650px;
    background-color: var(--black);
    display: flex;
    align-items: center;
    position: relative;


    .backdrop-img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.6;
       
       
        .lazy-load-image-background {
            width: 100%;
            height: 100%;
            
           
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position:center;
                @include sm {
                    width: 99%;
                    height: 94%;
                    margin: auto;
                }

            }
        }
    }
    .opacity-layer {
        position: absolute;
        width: 100%;
        height: 490px;
        
        background: linear-gradient(
            rgba(4, 21, 45, 0) 0%,
            #04152d 
        );
        bottom: 0;
    
        
    }
    .heroBannerContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        text-align: center;
        position: relative;
        max-width: 800px;
        margin: auto;
        @include sm {
            
        }
       
        .title {
            font-size: 70px;
            font-weight: 700;
            margin-bottom: 10px;
            @include sm {
                font-size: 45px;
            }
            @include md {
                font-size: 55px;
            }
           
        }
        .subTitle {
            font-size: 18px;
            font-weight: 500;
            @include sm {
                font-size: 16px;
            }
           
        }
        .searchInput {
            display: flex;
            align-items: center;
            width: 100%;
            margin-top: 19px;
           
            input {
                color: black;
                width: calc(100% - 100px);
                height: 50px;
                background-color: white;
                border: none;
                border-radius: 90px 0 0 0px;
                padding-left: 35px;
                font-size: 17px;
                outline: none;
               
            }
            button {
                width: 100px;
                height: 50px;
                background: var(--gradient);
                color: white;
                border: none;
                padding-right: 15px;
                border-radius: 0 90px 0px 0;
                font-size: 16px;
                cursor: pointer;
            
            }
        }
    }
}


                